@model ViewModels.OverrideLogs.ORLog.ORLogCostViewModel;
@using Enums;
@using System.Globalization;
@{
    var collectionType = "Costs";
    var rowNumber = ViewData["RowNumber"] != null ? int.Parse(ViewData["RowNumber"].ToString()) : 0;
    var isDetailPage = ViewData["IsDetailPage"] != null ? bool.Parse(ViewData["IsDetailPage"].ToString()) : false;

    var rowName = "cost-row[" + rowNumber + "]";
    var rowId = "cost-row-" + rowNumber;

    var craftId = collectionType + "[" + rowNumber + "].CraftSkill.Id";
    var craftName = collectionType + "[" + rowNumber + "].CraftSkill.Name";
    var stHours = collectionType + "[" + rowNumber + "].StHours";
    var otHours = collectionType + "[" + rowNumber + "].OtHours";
    var dtHours = collectionType + "[" + rowNumber + "].DtHours";
    var headCount = collectionType + "[" + rowNumber + "].HeadCount";
    var hiddenId = collectionType + "[" + rowNumber + "].Id";
    switch (Model.OverrideType)
    {
        case OverrideTypeCatalog.ST: Model.STHours = Model.OverrideHours; break;
        case OverrideTypeCatalog.OT: Model.OTHours = Model.OverrideHours; break;
        case OverrideTypeCatalog.DT: Model.DTHours = Model.OverrideHours; break;
        default: break;
    }

}

<tr class="cost-row" id="@rowId">
    <td>
        <span style=" text-align: initial !important;">@Model.STHours</span>
        <input type="hidden" name="@stHours" value="@Model.STHours" />
    </td>
    <td>
        <span style=" text-align: initial !important;">@Model.OTHours</span>
        <input type="hidden" name="@otHours" value="@Model.OTHours" />
    </td>
    <td>
        <span style=" text-align: initial !important;">@Model.DTHours</span>
        <input type="hidden" name="@dtHours" value="@Model.DTHours" />
    </td>
    <td>
        <span style=" text-align: initial !important;">@Model.CraftSkill.Name</span>
        <input type="hidden" name="@craftId" value="@Model.CraftSkill.Id" />
        <input type="hidden" name="@craftName" value="@Model.CraftSkill.Name" />
    </td>
    <td>
        <span style="text-align: initial !important;">@Model.HeadCount</span>
        <input type="hidden" name="@headCount" value="@Model.HeadCount" />
    </td>
    @if (!User.IsInRole(RolesCatalog.Employee.ToString()))
    {
        <td>
            <span style=" text-align: initial !important;">@Model.FormattedCost</span>
        </td>
    }
    @if (isDetailPage == false)
    {
        <td>
            <a href="javascript:void(0)" class="remove-cost mx-1 datatable-action btn bg-custom-dark" data-toggle="tooltip" title="Delete Cost"><i class="icon-trash"></i></a>
        </td>
    }

    <input type="hidden" class="hidden-id tItem-range-hidden-fields" name="@hiddenId" value="@Model.Id" />
</tr>

