@using Enums;
@using ViewModels.OverrideLogs.ORLog;
@model ORLogDetailViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Department" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Department?.Name) ? "-" : Model.Department.Name)</div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Unit" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Unit.Name) ? "-" : Model.Unit.Name)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Shift" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Shift.Name) ? "-" : Model.Shift.Name)</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="WorkCompletedDate" class="form-label fw-600"></label>
            <div>@Model.FormattedDateOfWorkCompleted</div>
        </div>
    </div>
    @*  <div class="col-lg-4">
        <div class="mb-3">
        <label asp-for="ReasonForRequest" class="form-label fw-600"></label>
        <div>@(string.IsNullOrEmpty(Model.ReasonForRequest?.Name) ? "-" : Model.ReasonForRequest.Name)</div>
        </div>
        </div>*@
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="WorkScope" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.WorkScope) ? "-" : Model.WorkScope)</div>
        </div>
    </div>
    @*    <div class="col-lg-4">
        <div class="mb-3">
        <label asp-for="DelayType" class="form-label fw-600"></label>
        <div>@(string.IsNullOrEmpty(Model.DelayType?.Name) ? "-" : Model.DelayType.Name)</div>
        </div>
        </div>*@
    @*<div class="col-lg-4">
        <div class="mb-3">
        <label asp-for="DelayReason" class="form-label fw-600"></label>
        <div>@(Model.DelayReason == null ? "-" : Model.DelayReason.ToString())</div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="mb-3">
        <label asp-for="StartOfWorkDelay" class="form-label fw-600">Start Of Work Delay</label>
        <div>@(string.IsNullOrEmpty(Model.StartOfWorkDelay?.Name) ? "-" : Model.StartOfWorkDelay.Name)</div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="mb-3">
        <label asp-for="ShiftDelay" class="form-label fw-600">Shift Delay</label>
        <div>@(string.IsNullOrEmpty(Model.ShiftDelay?.Name) ? "-" : Model.ShiftDelay.Name)</div>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="mb-3">
        <label asp-for="ReworkDelay" class="form-label fw-600">Rework Delay</label>
        <div>@(string.IsNullOrEmpty(Model.ReworkDelay?.Name) ? "-" : Model.ReworkDelay.Name)</div>
        </div>
        </div>*@
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Reason" class="form-label fw-600"></label>
            <div>@(Model.Reason == null ? "-" : Model.Reason.ToString())</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Employee" class="form-label fw-600">Requestor</label>
            <div>@Model.Employee.Name</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Company" class="form-label fw-600"></label>
            <div>@Model.Company.Name</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="PoNumber" class="form-label fw-600"></label>
            <div>@Model.PoNumber</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="EmployeeNames" class="form-label fw-600"></label>
            <div>@Model.EmployeeNames</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Status" class="form-label fw-600"></label>
            <div>@Model.FormattedStatus</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="FormattedCreatedOn" class="form-label fw-600">Submitted</label>
            <div>@Model.FormattedCreatedOn</div>
        </div>
    </div>


    <div class="col-lg-4">
        <div class="mb-3">
            <label asp-for="Approver" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Approver?.Name) ? Model.PossibleApprovers : Model.Approver.Name)</div>
        </div>
    </div>
    @*<div class="col-lg-12">
        <div class="mb-3">
        <label asp-for="Description" class="form-label fw-600"></label>
        <div>@Model.Description</div>
        </div>
        </div>*@
    <div class="col-md-12 mt-3">
        <h4 class="col-md-12">Costs</h4>

        <div class="table-responsive my-3" id="cost-table">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                        <th>Override Type</th>
                        <th>Craft</th>
                        <th>Head Count</th>
                        <th>Hours</th>
                        @if (!User.IsInRole(RolesCatalog.Employee.ToString()))
                        {
                            <th>Cost</th>
                        }
                    </tr>
                </thead>
                <tbody class="cost-tbody">
                    @for (var i = 0; i < Model.Costs.Count(); i++)
                    {
                        @await Html.PartialAsync("~/Views/OverrideLog/_CostRow.cshtml", Model.Costs[i], new ViewDataDictionary(ViewData) { { "RowNumber", i }, { "IsDetailPage", true } })
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<input type="hidden" id="log-id" name="Id" value="@Model.Id" />
<input type="hidden" id="log-requestor" value="@Model.Employee.Email" />
<input type="hidden" id="controller-name" value="OverrideLog" />
<input type="hidden" id="approver-id" asp-for="Approver.Id" />
<input type="hidden" id="is-unauthenticated-approval" asp-for="IsUnauthenticatedApproval" />
<input type="hidden" id="notification-id" name="NotificationId" value="@Model.NotificationId" />


