@using ViewModels.OverrideLogs.ORLog;
@model ORLogDetailViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Status" class="form-label fw-600"></label>
            <div>@Model.Status</div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="FormattedCreatedOn" class="form-label fw-600"></label>
            <div>@Model.FormattedCreatedOn</div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Employee" class="form-label fw-600"></label>
            <div>@Model.Employee.Name</div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Company" class="form-label fw-600"></label>
            <div>@Model.Company.Name</div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Shift" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Shift.Name) ? "-" : Model.Shift.Name)</div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Unit" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Unit.Name) ? "-" : Model.Unit.Name)</div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="ReasonForRequest" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.ReasonForRequest?.Name) ? "-" : Model.ReasonForRequest.Name)</div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="OverrideType" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.OverrideType?.Name) ? "-" : Model.OverrideType.Name)</div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="CraftSkill" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.CraftSkill?.Name) ? "-" : Model.CraftSkill.Name)</div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="CraftRate" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.CraftRate?.Name) ? "-" : Model.CraftRate.Name)</div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="OverrideHours" class="form-label fw-600"></label>
            <div>@Model.OverrideHours</div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="PONumber" class="form-label fw-600"></label>
            <div>@Model.PONumber</div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="WorkCompletedDate" class="form-label fw-600"></label>
            <div>@Model.FormattedDateOfWorkCompleted</div>
        </div>
    </div>



    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Description" class="form-label fw-600"></label>
            <div>@Model.Description</div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="mb-3">
            <label asp-for="Approver" class="form-label fw-600"></label>
            <div>@(string.IsNullOrEmpty(Model.Approver?.Name) ? "-" : Model.Approver.Name)</div>
        </div>
    </div>








</div>

<input type="hidden" id="log-id" asp-for="Id" />
<input type="hidden" id="controller-name" value="OverrideLog" />

