@using ViewModels.Shared
@model List<AttachmentResponseVM>
@{
    Layout = null;
}


@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="col-lg-3 doc-col col-6 mb-3" attr-id="@item.Id">
            <div class="doc-inner">
                <div class="row">
                    <i class="fa-solid fa-pen ml-3 mt-2 attachment-edit" onclick="loadUpdateAndDetailModalPanel('/Attachment/Update/@item.Id')" attr-id="@item.Id"></i>
                    <i class="fa-solid fa-trash ml-2 mt-2 attachment-delete delete" href='@("/Attachment/Delete/"+item.Id)' attr-id="@item.Id"></i>
                </div>
                <a href="@item.Url" class="doc-body" target="_blank">
                    <file-image file-type="@item.Type" size="50" class="doc-icon attachment-create" alt="file" attr-id="@item.Id" />
                    <h4 class="doc-title">@item.Name</h4>
                </a>
            </div>
        </div>
    }
}
else
{
    <h3>No Attachments found.</h3>
}