@using ViewModels.Shared;
@using Enums;
@model AttachmentModifyViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <label asp-for="Name" class="form-label fw-600"></label>
        <input type="text" id="file-name" class="form-control" asp-for="Name" placeholder="Add attachment name" />
        <span asp-validation-for="Name" class="validation-invalid-label"></span>
    </div>
    <div class="col-lg-6">
        <label asp-for="AttachmentType" class="form-label fw-600">Attachment Type</label>
        <select asp-for="AttachmentType" class="form-control" asp-items="@Html.GetEnumSelectList<AttachmentTypeCatalog>()"></select>
        <span asp-validation-for="AttachmentType" class="validation-invalid-label"></span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-6" id="file-container">
        <label asp-for="File" class="form-label fw-600"></label>
        <input type="file" id="file" asp-for="File" class="form-control" />
        <span asp-validation-for="File" class="validation-invalid-label"></span>
    </div>
    <div class="col-lg-6" id="link-container" style="display:none;">
        <label asp-for="Url" class="form-label fw-600">Link</label>
        <input type="url" id="url" asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="validation-invalid-label"></span>
    </div>
</div>
@Html.HiddenFor(x => x.Folder.Id)
@Html.HiddenFor(x => x.CreatedOn)
<input name="Id" value="@Model.Id" type="hidden" />

<script>
    $(function () {
        onAttachmentTypeChange($("#AttachmentType").val());
        $(document).on('change', "#AttachmentType", function () {
            onAttachmentTypeChange($(this).val());
        });
    });
    function onAttachmentTypeChange(selectedValue) {
        debugger;
        if (@((int)AttachmentTypeCatalog.File)== selectedValue) {
            $("#link-container").hide();
            $("#file-container").show();
        }
        else {
            $("#file-container").hide();
            $("#link-container").show();
        }
    }
</script>