@page
@model API.Pages.ApproverDashboardModel
@{
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<style>
    body {
        font-size: 16px; /* Base font size */
    }

    *[class^='progress-done-'] {
        height: 100%;
        width: 0;
        opacity: 0;
        background: linear-gradient(to left, #f2709c,#ff9472);
        color: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fac090;
        box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
        transition: 1s ease;
    }

    h3 {
        font-size: 4.5vw;
    }

    .card {
        margin-top: 20px;
    }

    .card-title {
        text-align: center;
        font-size: 4vw;
    }

    .am-chart {
        width: 100vw; /* 100% of the viewport width */
        height: 50vh; /* 50% of the viewport height, change as needed */
    }

    .am-pie-chart {
        width: 100vw; /* 100% of the viewport width */
        height: 50vh; /* 50% of the viewport height, change as needed */
    }
</style>
<div class="container-fluid" style="background-color:white;">
    <main>
        <h3 class="text-center p-5">Approver Dashboard</h3>
        <div class="row dashboard-stats-row">
            <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title"> Total TOT's</h5>
                            <p class="card-text">@Model.DashboardStats.TotalTotLogs</p>
                        </div>

                        <div class="icon">
                            <span class="tot"><i class="bi-file-text"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title">Total WRR's</h5>
                            <p class="card-text">@Model.DashboardStats.TotalWRRLogs</p>
                        </div>

                        <div class="icon">
                            <span class="tot"><i class="bi-file-text"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="content">
                            <h5 class="card-title">Total Overrides</h5>
                            <p class="card-text">@Model.DashboardStats.TotalORLogs</p>
                        </div>

                        <div class="icon">
                            <span class="tot"><i class="bi-file-text"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12">
            @await Html.PartialAsync("Shared/Dashboard/TOT/_TOTStatusBarChart")
            @await Html.PartialAsync("Shared/Dashboard/Override/_OverrideStatusBarChart")
            @await Html.PartialAsync("Shared/Dashboard/WRR/_WRRStatusBarChart")

            @await Html.PartialAsync("Shared/Dashboard/Override/_OverrideCostPieCharts")
            @await Html.PartialAsync("Shared/Dashboard/TOT/_TOTHoursPieCharts")
        </div>

    </main>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="~/js/dashboard/am-chart.js"></script>
<!-- Chart code -->
<script>
    $(function () {
        GenerateTOTBarChart(@Json.Serialize(Model.DashboardBarChartModel.TOTLogs.ChartData));
        GenerateORBarChart(@Json.Serialize(Model.DashboardBarChartModel.ORLogs.ChartData));
        GenerateWRRBarChart(@Json.Serialize(Model.DashboardBarChartModel.WRRLogs.ChartData));
        OverrideDepartmentChart(@Json.Serialize(Model.DashboardORModel.Department));
        OverrideUnitChart(@Json.Serialize(Model.DashboardORModel.Unit));
        OverrideShiftChart(@Json.Serialize(Model.DashboardORModel.Shift));
        OverrrideRequestReasonChart(@Json.Serialize(Model.DashboardORModel.RequestReason));

        TOTShiftDelayChart(@Json.Serialize(Model.DashboardTOTModel.ShiftDelay));
        TOTReworkDelayChart(@Json.Serialize(Model.DashboardTOTModel.ReworkDelay));
        TOTStartOfWorkDelayChart(@Json.Serialize(Model.DashboardTOTModel.StartOfWorkDelay));
        TOTOngoingWorkDelayChart(@Json.Serialize(Model.DashboardTOTModel.OngoingWorkDelay));
        TOTDepartmentChart(@Json.Serialize(Model.DashboardTOTModel.Department));
        TOTUnitChart(@Json.Serialize(Model.DashboardTOTModel.Unit));
        TOTShiftChart(@Json.Serialize(Model.DashboardTOTModel.Shift));
        TOTRequestReasonChart(@Json.Serialize(Model.DashboardTOTModel.RequestReason));
        TOTDelayTypeHoursChart(@Json.Serialize(Model.DashboardTOTModel.DelayTypeHours));
        TOTDelayTypeCostsChart(@Json.Serialize(Model.DashboardTOTModel.DelayTypeCosts));
    })
    function GenerateTOTBarChart(seriesData) {
        GenerateBarChart("tot-status", seriesData)
    }
    function GenerateORBarChart(seriesData) {
        GenerateBarChart("override-status", seriesData)
    }
    function GenerateWRRBarChart(seriesData) {
        GenerateBarChart("wrr-status", seriesData)
    }
    function TOTShiftDelayChart(seriesData) {
        GeneratePieChart("tot-shift-delay", seriesData)
    }
    function TOTReworkDelayChart(seriesData) {
        GeneratePieChart("tot-rework-delay", seriesData)
    }
    function TOTStartOfWorkDelayChart(seriesData) {
        GeneratePieChart("tot-start-of-work-delay", seriesData)
    }
    function TOTOngoingWorkDelayChart(seriesData) {
        GeneratePieChart("tot-ongoing-work-delay", seriesData)
    }
    function TOTDepartmentChart(seriesData) {
        GeneratePieChart("tot-department", seriesData)
    }
    function TOTUnitChart(seriesData) {
        GeneratePieChart("tot-unit", seriesData)
    }
    function TOTShiftChart(seriesData) {

        GeneratePieChart("tot-shift", seriesData)
    }
    function TOTRequestReasonChart(seriesData) {
        GeneratePieChart("tot-request-reason", seriesData)
    }

    function OverrideDepartmentChart(seriesData) {
        GeneratePieChart("override-department", seriesData)
    }
    function OverrideUnitChart(seriesData) {
        GeneratePieChart("override-unit", seriesData)
    }
    function OverrideShiftChart(seriesData) {

        GeneratePieChart("override-shift", seriesData)
    }
    function OverrrideRequestReasonChart(seriesData) {
        GeneratePieChart("override-request-reason", seriesData)
    }
    function TOTDelayTypeHoursChart(seriesData) {
        GenerateBarChart("tot-work-delay-hours", seriesData)
    }
    function TOTDelayTypeCostsChart(seriesData) {
        GenerateBarChart("tot-work-delay-costs", seriesData)
    }
</script>
