@using ViewModels.Common.Company;
@model CompanyBriefViewModel

@{
    var elementId = ViewData["Id"] != null && !string.IsNullOrEmpty(ViewData["Id"].ToString()) ? ViewData["Id"].ToString() : "company-id";
    var isSearchForm = ViewData["IsSearchForm"] != null && !string.IsNullOrEmpty(ViewData["IsSearchForm"].ToString()) ? bool.Parse(ViewData["IsSearchForm"].ToString()) ? "true" : "false" : "false";
    var showUnApproved = ViewData["ShowUnApproved"] != null && !string.IsNullOrEmpty(ViewData["ShowUnApproved"].ToString()) ? bool.Parse(ViewData["ShowUnApproved"].ToString()) ? "true" : "false" : "false";
    var logType = ViewData["LogType"] != null && !string.IsNullOrEmpty(ViewData["LogType"].ToString()) ? ViewData["LogType"].ToString() : "None";
}


<div class="form-group">
    <label class="form-label fw-600">Company</label>
    @Html.DropDownListFor(model => model.Id, new List<SelectListItem>() {
    new SelectListItem()
    {
    Value = (Model!=null&&Model.Id > 0)?Model.Id.ToString():"",
    Text = (Model!=null&&Model.Id > 0)?Model.Name:"",
    Selected = (Model!=null&&Model.Id > 0)?true:false,
    }},
            new
            {
                @id = elementId,
                @class = "form-control disable-field",
                data_val_required = Model?.ErrorMessage,
                data_val = Model?.IsValidationEnabled.ToString().ToLower()
            })
    <input type="hidden" name="Company.Name" value="@Model?.Name" />
    <span asp-validation-for="Id" class="validation-invalid-label"></span>
</div>

<script src="~/js/custom-scripts/Select2Methods.js"></script>
<script>
    $(function () {
        var id = "#" + "@elementId";
        var pageSize = 10;
        var url = '/Company/Select2';
        var dataArray = function (params) {
            params.page = params.page || 1;
            return {
                prefix: params.term,
                pageSize: pageSize,
                pageNumber: params.page,
                customParams: JSON.stringify({
                    IsSearchForm: "@isSearchForm",
                    ShowUnApproved: "@showUnApproved",
                    LogType: "@logType"
                })
            };
        };
        Select2AutoCompleteAjax(id, url, dataArray, pageSize, "Select Company");
    });
</script>
