@using ViewModels;
@using Enums;
@using Web.Extensions;

@model FCOLogDetailViewModel
@{
    Layout = null;

    var labourSection = Model.FCOSections.Where(x => x.SectionType == FCOSectionCatalog.Labour).ToList();
    var materialSection = Model.FCOSections.Where(x => x.SectionType == FCOSectionCatalog.Material).ToList();
    var equipmentSection = Model.FCOSections.Where(x => x.SectionType == FCOSectionCatalog.Equipment).ToList();
    var shopSection = Model.FCOSections.Where(x => x.SectionType == FCOSectionCatalog.Shop).ToList();
}
<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: none;
    }

    .fullsize {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        z-index: 10000;
        display: none;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="Date" class="form-label fw-600"></label>
                    <div>@Model.DateFormatted</div>
                </div>
            </div>

            @*    <div class="col-lg-4">
                <div class="mb-3">
                <label asp-for="Contractor" class="form-label fw-600"></label>
                <div>@(string.IsNullOrEmpty(Model.Contractor?.Name) ? "-" : Model.Contractor.Name)</div>
                </div>
                </div>
                <div class="col-lg-4">
                <div class="mb-3">
                <label asp-for="Department" class="form-label fw-600"></label>
                <div>@(string.IsNullOrEmpty(Model.Department?.Name) ? "-" : Model.Department.Name)</div>
                </div>
                </div>*@
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="Unit" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Unit?.Name) ? "-" : Model.Unit.Name)</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="Location" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Location) ? "-" : Model.Location)</div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label fw-600">Pre TA / TA</label>
                    <div>@(Model.PreTA ? "Pre TA" : "TA")</div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label fw-600">Shutdown required?</label>
                    <div>@(Model.ShutdownRequired ? "Yes" : "No")</div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label fw-600">Scaffold Required?</label>
                    <div>@(Model.ScaffoldRequired ? "Yes" : "No")</div>

                </div>
            </div>
            <div class="col-lg-6" id="file-container">
                <label asp-for="Photo.File" class="form-label fw-600">Photo</label>
                <div class="mt-4"><img class="image-thumbnail rounded-circle" src="@Model.Photo?.PreviewImgUrl" attr-data-src="@Model.Photo?.Url" alt="" style="max-width:80px;display:block;margin-top:-25px;max-height:80px;"></div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="EquipmentNumber" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.EquipmentNumber) ? "-" : Model.EquipmentNumber)</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="DescriptionOfFinding" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.DescriptionOfFinding) ? "-" : Model.DescriptionOfFinding)</div>

                </div>
            </div>
            <div class="col-lg-6" id="file-container">
                <label asp-for="File.File" class="form-label fw-600"></label>
                <div class="mt-4"><img class="image-thumbnail rounded-circle" src="@Model.File?.PreviewImgUrl" attr-data-src="@Model.File?.Url" alt="" style="max-width:80px;display:block;margin-top:-25px;max-height:80px;"></div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="FCOType" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.FCOType?.Name) ? "-" : Model.FCOType.Name)</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="FCOReason" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.FCOReason?.Name) ? "-" : Model.FCOReason.Name)</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label fw-600">Others Documentation Required</label>
                    @if (Model.AnalysisOfAlternatives)
                    {
                        <div> <label class="form-check-label" asp-for="AnalysisOfAlternatives"></label></div>
                    }
                    @if (Model.EquipmentFailureReport)
                    {
                        <div> <label class="form-check-label" asp-for="EquipmentFailureReport"></label></div>
                    }

                </div>
            </div>

            @*  <div class="col-lg-12">
                <div class="mb-3">
                <label asp-for="AdditionalInformation" class="form-label fw-600"></label>
                <div>@(string.IsNullOrEmpty(Model.AdditionalInformation) ? "-" : Model.AdditionalInformation)</div>

                </div>
                </div>*@
            <div class="col-lg-4">
                <div class="mb-3">
                    <label asp-for="Company" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Company?.Name) ? "-" : Model.Company.Name)</div>
                </div>
            </div>
            <div class="table-responsive my-3" id="labour-table">
                <table class="table text-nowrap">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Craft</th>
                            <th>MN</th>
                            <th>DU</th>
                            <th>Rate</th>
                            @if (!User.IsInRole(RolesCatalog.Employee.ToString()))
                            {
                                <th>Estimate</th>
                            }
                            <th class="text-center" style="width: 20px;"><i class="icon-arrow-down12"></i></th>
                        </tr>
                    </thead>
                    <tbody class="labour-tbody">
                        @for (var i = 0; i < labourSection.Count(); i++)
                        {
                            @await Html.PartialAsync("~/Views/FCOLog/_LabourSectionRow.cshtml", labourSection[i], new ViewDataDictionary(ViewData) { { "RowNumber", i }, { "IsDetailPage", true } })
                        }
                    </tbody>
                </table>
            </div>

            @* @await Html.PartialAsync("~/Views/FCOLog/_SectionTable.cshtml", materialSection, new ViewDataDictionary(ViewData) { { "Section", "material" }, { "SectionName", "Material" }, { "IsDetailPage", true } })
                @await Html.PartialAsync("~/Views/FCOLog/_SectionTable.cshtml", equipmentSection, new ViewDataDictionary(ViewData) { { "Section", "equipment" }, { "SectionName", "Equipment" }, { "IsDetailPage", true } })
                @await Html.PartialAsync("~/Views/FCOLog/_SectionTable.cshtml", shopSection, new ViewDataDictionary(ViewData) { { "Section", "shop" }, { "SectionName", "Shop" }, { "IsDetailPage", true } })
            *@

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="MaterialName" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.MaterialName) ? "-" : Model.MaterialName)</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="MaterialRate" class="form-label fw-600"></label>
                    <div>@Model.MaterialRate</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="EquipmentName" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.EquipmentName) ? "-" : Model.EquipmentName)</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="EquipmentRate" class="form-label fw-600"></label>
                    <div>@Model.EquipmentRate</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ShopName" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.ShopName) ? "-" : Model.ShopName)</div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ShopRate" class="form-label fw-600"></label>
                    <div>@Model.ShopRate</div>
                </div>
            </div>



            <div class="col-lg-12">
                <table class="table text-nowrap">
                    <tbody>
                        <tr>
                            <th>Total:</th>
                            <td></td>
                            <td id="total-estimate-cell">$@Model.Total</td>
                        </tr>
                        <tr>
                            <th>Contingency:</th>
                            <td>@Model.Contingency %</td>
                            <td id="contingency-cell">$@Model.Contingencies</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td></td>
                            <td id="sub-total-cell">$@Model.SubTotal</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12">
                <table class="table text-nowrap">
                    <tbody>
                        <tr>
                            <th colspan="2"><h4>FCO Value Estimate</h4></th>
                        </tr>
                        <tr>
                            <th>Labor:</th>
                            <td id="total-labour-cell">$@Model.TotalLabor</td>
                        </tr>
                        <tr>
                            <th>Material:</th>
                            <td id="total-material-cell">$@Model.TotalMaterial</td>
                        </tr>
                        <tr>
                            <th>Equipment:</th>
                            <td id="total-equipment-cell">$@Model.TotalEquipment</td>
                        </tr>
                        <tr>
                            <th>Shop:</th>
                            <td id="total-shop-cell">$@Model.TotalShop</td>
                        </tr>
                        <tr>
                            <th>TOTAL:</th>
                            <td id="actual-total-cell">$@Model.SectionTotal</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            @*       <div class="col-lg-4">
                <div class="mb-3">
                <label class="form-label fw-600" asp-for="DuringExecution"></label>
                <div>@(Model.DuringExecution == null ? "-" : Model.DuringExecution.ToString())</div>
                </div>
                </div>*@
            @if (Model.Status == Status.Approved)
            {
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600" asp-for="AreaExecutionLead.Name"></label>
                        <div>@(string.IsNullOrEmpty(Model.AreaExecutionLead?.Name) ? "-" : Model.AreaExecutionLead.Name)</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600" asp-for="ApprovalDateFormatted"></label>
                        <div>@(Model.AreaExecutionLeadApprovalDate != null && Model.AreaExecutionLeadApprovalDate != new DateTime() ? "-" : Model.AreaExecutionLeadApprovalDate)</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600" asp-for="BusinessTeamLeader.Name"></label>
                        <div>@(string.IsNullOrEmpty(Model.BusinessTeamLeader?.Name) ? "-" : Model.BusinessTeamLeader.Name)</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600" asp-for="BusinessTeamLeaderApprovalDate"></label>
                        <div>@(Model.BusinessTeamLeaderApprovalDate != null && Model.BusinessTeamLeaderApprovalDate != new DateTime() ? "-" : Model.BusinessTeamLeaderApprovalDate)</div>
                    </div>
                </div>
            }
            else if (Model.Status == Status.Rejected)
            {
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600" asp-for="Rejecter.Name"></label>
                        <div>@(string.IsNullOrEmpty(Model.Rejecter?.Name) ? "-" : Model.Rejecter.Name)</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mb-3">
                        <label class="form-label fw-600" asp-for="RejecterDate"></label>
                        <div>@(Model.RejecterDate != null && Model.RejecterDate != new DateTime() ? "-" : Model.RejecterDate)</div>
                    </div>
                </div>
            }

            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label fw-600" asp-for="DesignatedCoordinator"></label>
                    <div>@(string.IsNullOrEmpty(Model.DesignatedCoordinator?.Name) ? "-" : Model.DesignatedCoordinator?.Name)</div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label fw-600">Comment</label>
                    <textarea type="text" class="form-control" id="fco-log-comment"></textarea>
                </div>
            </div>

            <input asp-for="Approver.Id" type="hidden" />

            <input type="hidden" id="log-id" name="Id" value="@Model.Id" />
            <input type="hidden" id="log-requestor" value="@Model.Employee.Email" />
            <input type="hidden" id="controller-name" value="FCOLog" />
            <input type="hidden" id="approver-id" asp-for="Approver.Id" />
            <input type="hidden" id="is-unauthenticated-approval" asp-for="IsUnauthenticatedApproval" />
            <input type="hidden" id="notification-id" name="NotificationId" value="@Model.NotificationId" />
        </div>
    </div>
</div>
<div class="overlay"></div>
<img src="" class="fullsize">
<script>$(document).off("click", '.image-thumbnail')
    $(document).on("click", '.image-thumbnail', function () {
        const imageUrl = $(this).attr('attr-data-src');
        if (imageUrl) {
            const extension = imageUrl.split('.').pop().toLowerCase();
            if (['jpg', 'jpeg', 'png', 'gif', 'bmp', 'webp'].includes(extension)) {

                $(".fullsize").attr("src", $(this).attr("src"));
                $('.overlay').fadeIn();
                $('.fullsize').fadeIn();
            } else {
                // Open in a new tab
                window.open(imageUrl, '_blank');
            }
        }
    });

    $(document).off("click", '.overlay')
    $(document).on("click", '.overlay', function () {
        $('.overlay').fadeOut();
        $('.fullsize').fadeOut();
    });</script>
