@model ViewModels.FCOSectionModifyViewModel;
@using Enums;
@using System.Globalization;
@{
    var collectionType = "FCOLabourSections";
    var rowNumber = ViewData["RowNumber"] != null ? int.Parse(ViewData["RowNumber"].ToString()) : 0;
    var isDetailPage = ViewData["IsDetailPage"] != null ? bool.Parse(ViewData["IsDetailPage"].ToString()) : false;

    var rowName = "section-row[" + rowNumber + "]";
    var rowId = "labour-section-row-" + rowNumber;

    var overrideType = collectionType + "[" + rowNumber + "].OverrideType";
    var craftId = collectionType + "[" + rowNumber + "].Craft.Id";
    var craftName = collectionType + "[" + rowNumber + "].Craft.Name";
    var overrideHours = collectionType + "[" + rowNumber + "].DU";
    var headCount = collectionType + "[" + rowNumber + "].MN";
    var hiddenId = collectionType + "[" + rowNumber + "].Id";
    var hiddenSectionType = collectionType + "[" + rowNumber + "].SectionType";
    var hiddenRate = collectionType + "[" + rowNumber + "].Rate";
    var hiddenEstimate = collectionType + "[" + rowNumber + "].Estimate";

}

<tr class="labour-section-row" id="@rowId">
    <td>
        <span style="text-align: initial !important;">@Model.OverrideType</span>
        <input type="hidden" name="@overrideType" value="@Model.OverrideType" />
    </td>
    <td>
        <span style=" text-align: initial !important;">@Model.Craft.Name</span>
        <input type="hidden" name="@craftId" value="@Model.Craft.Id" />
        <input type="hidden" name="@craftName" value="@Model.Craft.Name" />
    </td>
    <td>
        <span style="text-align: initial !important;">@Model.MN</span>
        <input type="hidden" name="@headCount" value="@Model.MN" />
    </td>
    <td>
        <span style=" text-align: initial !important;">@Model.DU</span>
        <input type="hidden" name="@overrideHours" value="@Model.DU" />
    </td>
    <td>
        <span style=" text-align: initial !important;">@Model.Rate</span>
    </td>
    @if (!User.IsInRole(RolesCatalog.Employee.ToString()))
    {
        <td>
            <span style=" text-align: initial !important;">@Model.FormattedEstimate</span>
        </td>
    }
    @if (isDetailPage == false)
    {
        <td>
            <a href="javascript:void(0)" class="remove-cost mx-1 datatable-action btn bg-custom-dark" data-toggle="tooltip" title="Delete Cost"><i class="icon-trash"></i></a>
        </td>
    }

    <input type="hidden" class="hidden-id tItem-range-hidden-fields" name="@hiddenId" value="@Model.Id" />
    <input type="hidden" class="hidden-id tItem-range-hidden-fields" name="@hiddenSectionType" value="@FCOSectionCatalog.Labour" />
    <input type="hidden" class="hidden-id tItem-range-hidden-fields" name="@hiddenRate" value="@Model.Rate" />
    <input type="hidden" class="hidden-id tItem-range-hidden-fields labour-estimate" name="@hiddenEstimate" value="@Model.Estimate" />
</tr>

