@using ViewModels.TimeOnTools.TOTLog;
@model TOTLogDetailViewModel
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Date" class="form-label fw-600"></label>
                    <div>@Model.FormattedDate</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Department" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Department?.Name) ? "-" : Model.Department.Name)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Contractor" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Contractor?.Name) ? "-" : Model.Contractor.Name)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Twr" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Twr) ? "-" : Model.Twr)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ManHours" class="form-label fw-600"></label>
                    <div>@Model.ManHours</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="StartOfWork" class="form-label fw-600"></label>
                    <div>@Model.FormattedStartOfWork</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ShiftDelay" class="form-label fw-600">Shift Delay</label>
                    <div>@(string.IsNullOrEmpty(Model.ShiftDelay?.Name) ? "-" : Model.ShiftDelay.Name)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ReworkDelay" class="form-label fw-600">Rework Delay</label>
                    <div>@(string.IsNullOrEmpty(Model.ReworkDelay?.Name) ? "-" : Model.ReworkDelay.Name)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="DelayReason" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.DelayReason) ? "-" : Model.DelayReason)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="PermitType" class="form-label fw-600">Permit Type</label>
                    <div>@(string.IsNullOrEmpty(Model.PermitType?.Name) ? "-" : Model.PermitType.Name)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Unit" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Unit?.Name) ? "-" : Model.Unit.Name)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="JobDescription" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.JobDescription) ? "-" : Model.JobDescription)</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Shift" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Shift?.Name) ? "-" : Model.Shift.Name)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="ManPowerAffected" class="form-label fw-600"></label>
                    <div>@Model.ManPowerAffected</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Foreman" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Foreman?.Name) ? "-" : Model.Foreman.Name)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="EquipmentNo" class="form-label fw-600"></label>
                    <div> @Model.EquipmentNo</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Approver" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Approver?.Name) ? "-" : Model.Approver.Name)</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Status" class="form-label fw-600"></label>
                    <div>@Model.Status</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label asp-for="Unit" class="form-label fw-600"></label>
                    <div>@(string.IsNullOrEmpty(Model.Unit?.Name) ? "-" : Model.Unit.Name)</div>
                </div>
            </div>
            @*
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label asp-for="PermittingIssue" class="form-label fw-600">Permitting Issue</label>
                        <div>@(string.IsNullOrEmpty(Model.PermittingIssue.Name) ? "-" : Model.PermittingIssue.Name)</div>
                    </div>
                </div>*@
        </div>
    </div>

    <input type="hidden" id="log-id" asp-for="Id" />
    <input type="hidden" id="controller-name" value="TOTLog" />

</div>

