@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@using Helpers
@using ViewModels
@using Enums
@using ViewModels.WeldingRodRecord.Employee;
@using Web.Extensions
@model EmployeeModifyViewModel
@{
    var isAdmin = User.IsInRole("Admin") ? "True" : "False";
    Layout = null;
}

    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label fw-600"></label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="LastName" class="form-label fw-600"></label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="Telephone" class="form-label fw-600"></label>
                <input asp-for="Telephone" type="number" class="form-control" placeholder="Telephone" />
                <span asp-validation-for="Telephone" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-600"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="Address" class="form-label fw-600"></label>
                <input asp-for="Address" type="text" class="form-control" placeholder="Address" />
                <span asp-validation-for="Address" class="validation-invalid-label"></span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="City" class="form-label fw-600"></label>
                <input asp-for="City" type="text" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
            <label asp-for="State" class="form-label fw-600"></label>
            <input asp-for="State" type="text" class="form-control" placeholder="State" />
            <span asp-validation-for="State" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="ZipCode" class="form-label fw-600"></label>
                <input asp-for="ZipCode" type="text" class="form-control" placeholder="ZipCode" />
                <span asp-validation-for="ZipCode" class="validation-invalid-label"></span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="SocialSecurity" class="form-label fw-600"></label>
                <input asp-for="SocialSecurity" type="text" class="form-control" placeholder="Social Security" />
                <span asp-validation-for="SocialSecurity" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="DriverLicense" class="form-label fw-600"></label>
                <input asp-for="DriverLicense" type="text" class="form-control" placeholder="Driver License" />
                <span asp-validation-for="DriverLicense" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="BankAccount" class="form-label fw-600"></label>
                <input asp-for="BankAccount" type="number" class="form-control" placeholder="BankAccount" />
                <span asp-validation-for="BankAccount" class="validation-invalid-label"></span>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="RoutingNumber" class="form-label fw-600"></label>
                <input asp-for="RoutingNumber" type="number" class="form-control" placeholder="Routing Number" />
                <span asp-validation-for="RoutingNumber" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="EmergencyContactName" class="form-label fw-600"></label>
                <input asp-for="EmergencyContactName" type="text" class="form-control" placeholder="Emergency Contact Name" />
                <span asp-validation-for="EmergencyContactName" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="EmergencyContactNumber" class="form-label fw-600"></label>
                <input asp-for="EmergencyContactNumber" type="number" class="form-control" placeholder="Emergency Contact Number" />
                <span asp-validation-for="EmergencyContactNumber" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="DateOfHire" class="form-label fw-600"></label>
                <input asp-for="DateOfHire" type="date" class="form-control" />
                <span asp-validation-for="DateOfHire" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label asp-for="EmployeeId" class="form-label fw-600"></label>
                <input asp-for="EmployeeId" type="text" class="form-control" placeholder="xxxx" />
                <span asp-validation-for="EmployeeId" class="validation-invalid-label"></span>
            </div>
        </div>
        <div class="col-lg-6">
                <div class="mb-3">
                    <partial name="~/Views/Shared/Select2/_User.cshtml" for="Approver" view-data='new ViewDataDictionary(ViewData) { { "Id", "approver-id"}, { "UserTitle", "Approver"}, {"Type", "Approver"} }' />
                </div>
            </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="ActiveStatus" class="form-label fw-600"></label>
                <div class="row">
                    @foreach (ActiveStatus status in Enum.GetValues(Model.ActiveStatus.GetType()))
                    {
                        <div class="col-lg-6">
                            <div class="form-check form-check-inline">
                                <input asp-for="ActiveStatus" class="form-check-input" type="radio" name="ActiveStatus" id="@status" value="@status" />
                                <label asp-for="ActiveStatus" class="form-check-label" for="@status">@status</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 termination-date-div" style="display:@(Model.ActiveStatus == ActiveStatus.Inactive?"block":"none");">
            <div class="mb-3">
                <label asp-for="TerminationDate" class="form-label fw-600"></label>
                <input asp-for="TerminationDate" type="date" class="form-control termination-date" placeholder="" />
                <span asp-validation-for="TerminationDate" class="validation-invalid-label"></span>
            </div>
        </div>
    </div>
<input type="hidden" asp-for="Id" />
<input type="hidden" asp-for="UserId" />
<input type="hidden" asp-for="Role" value="Employee" />
<input type="hidden" class="is-admin" value="@isAdmin" />
<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
<script>

    $(function () {
        
        $(document).on("change", 'input[type=radio][name=ActiveStatus]', function () {
            debugger;
            if ($(this).val() == 'Inactive')
                $(".termination-date-div").show();

            else
                $(".termination-date-div").hide();
        });
        $(document).on("focus", "#EmployeeId", function () {
            $(this).mask('0000', {
                translation: {
                    'X': {
                        pattern: /X/,
                        fallback: 'X'
                    }
                },
                placeholder: "XXXX"
            });
        });
    })</script>